
<div class="modal" [class.is-active]="modalService.modalEliminarState$ | async">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Confirmación</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        
      <h2><b>¿Deseas eliminar el libro "{{libro.titulo}}"?</b></h2>
  
      </section>
      <footer class="modal-card-foot buttons is-right">
        
        <button class="button is-danger is-half" (click)="closeModal()">Cancelar</button>
        <button class="button is-success is-half" (click)="save()">Si, eliminar</button>
      </footer>
    </div>
  </div>