<div class="modal" [class.is-active]="modalService.modalCrearState$ | async">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Crear libro</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <div class="modal-card-body">
        
              <form [formGroup]="form">
                <div class="field">
                  <label class="label">Nombre de libro</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Nombre de libro" autocomplete="off" formControlName="titulo">
                  </div>
                </div>
          
                <div class="field">
                  <label class="label">Precio</label>
                  <div class="control">
                    <input class="input" type="number" min="0.01" placeholder="Precio de libro" autocomplete="off" formControlName="precio">
                  </div>
                </div>
          
                <div class="field">
                  <label class="label">Autor</label>
                  <div class="select">
                    <select formControlName="autor_id">
                        <option value="---">---</option>
                        <option *ngFor="let a of autores" [value]="a.id">{{a.nombre}}</option>
                      </select>
                  </div>
                </div>
          
                <div class="field">
                    <label class="label">Categoría</label>
                    <div class="select">
                      <select formControlName="categoria_id"> 
                          <option value="---">---</option>
                          <option *ngFor="let c of categorias" [value]="c.id">{{c.nombre}}</option>
                        </select>
                    </div>
                  </div>
              </form>

            </div>
      <footer class="modal-card-foot buttons is-right">
        <button class="button is-danger is-half" (click)="closeModal()">Cancelar</button>
        <button class="button is-success is-half" (click)="save()">Crear libro</button>
      </footer>
    </div>
  </div>