<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="main">
        <span class="icon">
          <i class="fa fa-home"></i> 
        </span> <p>Inicio</p>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" [class.is-active]="isActive" (click)="toggleBurger()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="isActive">
        <a class="navbar-item"  routerLink="libros-admin">
          <span class="icon">
            <i class="fa fa-book"></i> 
          </span> <p>Libros</p>
        </a>
    </div>
  </nav>
  


  <div class="main-content">
    <router-outlet></router-outlet>
  </div>