.navbar{
    background-color: #120E4F !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    width: 100% !important;
}

a{
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px !important;

}

a:hover{
    color: yellow !important;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #120E4F !important;
}

.is-active{
    font-family: 'Montserrat', sans-serif !important;
    a{
        color: black !important;
    }

    a:hover{
        color: black !important;
        font-family: 'Montserrat', sans-serif !important;
        background-color: white !important;
    }
}

.main-content{
    margin: 3% !important;
}

.icon{
    margin-left: 4% !important;
}