
<div class="modal" [class.is-active]="modalService.modalEditarState$ | async">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Editar Libro</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        
        <section class="section">
            <div class="container">
              <form [formGroup]="form">
                <div class="field">
                  <label class="label">Nombre de libro</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Nombre de libro" autocomplete="off" formControlName="titulo" [(ngModel)]="libro.titulo">
                  </div>
                </div>
          
                <div class="field">
                  <label class="label">Precio</label>
                  <div class="control">
                    <input class="input" type="number" min="0.01" placeholder="Precio de libro" autocomplete="off" formControlName="precio" [(ngModel)]="libro.precio">
                  </div>
                </div>
          
                <div class="field">
                  <label class="label">Autor</label>
                  <div class="select">
                    <select formControlName="autor_id" [(ngModel)]="libro.autor.id">
                        <option *ngFor="let a of autores" [value]="a.id">{{a.nombre}}</option>
                      </select>
                  </div>
                </div>
          
                <div class="field">
                    <label class="label">Categoría</label>
                    <div class="select">
                      <select formControlName="categoria_id" [(ngModel)]="libro.categoria.id"> 
                          <option *ngFor="let c of categorias" [value]="c.id">{{c.nombre}}</option>
                        </select>
                    </div>
                  </div>
              </form>
            </div>
          </section>
  
      </section>
      <footer class="modal-card-foot buttons is-right">
        <button class="button is-danger is-half" (click)="closeModal()">Cancelar</button>
        <button class="button is-success is-half" (click)="save()">Editar libro</button>
      </footer>
    </div>
  </div>