.crear_btn{
    float: right !important;
}

.btn_table{
    margin: 1% !important   ;
}

.acciones{
    width: 10% !important;
}

.content-card{
    margin: 1% !important;
}



.false{
    background-color: rgb(252, 220, 223) !important;
}