<section class="section">
    <div class="container">
      <h3 class="title">Administrador de libros</h3>
  
      <hr class="is-divider">
      <div class="columns">
        <div class="column is-half">
          <p>Crea, edita o elimina registros...</p>
        </div>
  
        <div class="column is-half">
        <button class="button is-small is-link crear_btn" (click)="crear()">
          Crear libro
      </button>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
    <div class="card is-fullwidth content-card" *ngFor="let l of libros_data">
      <div class="card-content" [ngClass]="l.estado === true ? 'true' : 'false' ">
       
        <div class="content">
          <div class="columns is-desktop">
            
            <div class="column">
              <b>ID</b><br>
              {{l.id}}
            </div>
            <div class="column">
              <b>Titulo</b><br>
              {{l.titulo}}
            </div>
            <div class="column">
              <b>Precio</b><br>
               $ {{l.precio}}
            </div>
            <div class="column">
              <b>Autor</b><br>
              {{l.autor.nombre}}
            </div>
            <div class="column">
              <b>Categoría</b><br>
              {{l.categoria.nombre}}
            </div>

            <div class="column">
              <b>Estado</b><br>
             <span *ngIf="l.estado === true">Activo</span>
             <span *ngIf="l.estado === false">Inactivo</span>
            </div>
            <div class="column">  
              <a *ngIf="l.estado === true" class="button is-warning is-rounded btn_table"  (click)="editar(l)">
                <span class="icon">
                  <i class="fa fa-edit"></i>
                </span>
              </a>
  
              <a *ngIf="l.estado === true"  class="button is-danger is-rounded btn_table" (click)="eliminar(l)">
                <span class="icon">
                  <i class="fa fa-trash"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-create *ngIf="mostrarModal" [categorias]="categorias_data" [autores]="autores_data"></app-create>
    <app-edit *ngIf="mostrarModal" [categorias]="categorias_data" [autores]="autores_data" [libro]="libro"></app-edit>
    <app-delete *ngIf="mostrarModal" [libro]="libro"></app-delete>