<!-- card.component.html -->
<div class="columns is-multiline">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title">
            <img src="./assets/img/libros-d.png" class="img-dashboard">
          </p>
          <hr class="is-divider">
          <p class="subtitle">
            Administración de libros
            <br>
            <button class="button is-responsive is-link" (click)="goAdminLibros()">
                Acceder
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  