.img-dashboard{
    width: 50% !important;
}

.card-content{
    text-align: center !important;
}

.subtitle{
    text-align: center !important;
    font-weight: bold !important;
}

button{
    margin: 2% !important;
}